/**
 * @name Splendid
 * @version 1.0.0
 * @description Splendid
 * @author ğ™ğ™¡.#9999
 * @source https://github.com/Conjuringil/Splendid/blob/main/theme.css
*/

@import url(https://conjuringil.github.io/Splendid/theme.css);
